/* #field5-container{
	margin: auto;
	width: 60%;
	padding: 10px;
}
 */

.navbar-collapse font
{
	color:white;
}

.contactForm_heading
{
	margin: auto;
	width: 60%;
}

.contactForm {
	margin: auto;
	width: 60%;
	padding: 10px;
}

.border_min
{
	border: 1px solid #000000;
}

div.anythingSlider .anythingWindow {
	margin: auto;
	width: 60%;
	border: 3px solid #73AD21;
	padding: 10px;
}

#slider.slideQuote {
	width: 700px;
	height: 290px;
	list-style: none;
}

.quoteSlide {
	padding: 20px;
}

.quoteSlide blockquote {
	font: italic 24px/1.5 Georgia, Serif;
	text-align: center;
	color: #444;
	margin: 0 0 10px 0;
}

.quoteSlide p {
	text-align: center;
}

span.info {
	color: #808080;
}

.navbar .container {
	font-size: 1.5em;
	background-color: #000000;
}

.footer>.container {
	text-align: center;
	font-size: 1.5em;
	background-color: #000000;
}

html {
	font-size: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .875em;
	line-height: 1.6em;
	color: #666;
}

.container {
	font-size: 1em;
	background: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px 20px;
	margin: auto;
	position: relative;
	clear: both
}

.header {
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	width: 960px;
	padding: 40px 20px 30px;
	margin: 0 auto;
	border-radius: 0;
	background: #FFF;
	position: relative;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#site_title {
	width: 125px;
	height: 51px;
	position: absolute;
	top: -56px;
	right: 5px
}

#site_title img {
	float: left
}

.logo {
	width: 960px;
	margin: auto;
	text-align: center;
	letter-spacing: 3px;
	padding: 40px 0
}

#footer {
	font-size: .8em;
	width: 960px;
	margin: 0 auto 20px;
	padding: 30px 20px 50px;
	clear: both;
	color: #b2b5b9;
	background: #FFF;
	border: 1px solid #EAEAEA;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.no_display {
	display: none;
}

h1, h2, h3, h4 {
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-size: 34px;
	padding: 20px 0;
	color: #000
}

h2, h3 {
	margin: 20px 0;
	color: #000;
	font-weight: normal;
	text-transform: normal
}

h2 {
	font-size: 2em
}

h3 {
	font-size: 2em
}

h4 {
	font-size: 1.2em;
	font-weight: 700
}

.heading_bg {
	background: url(../img/heading_bg.png) repeat-x 0 30px
}

.heading_bg h1, .heading_bg h2, .heading_bg h3, .heading_bg h4 {
	background: #FFF;
	padding-right: 10px;
	display: inline-block
}

#footer h3 {
	color: #888d92
}

p {
	padding: 10px 0;
	font-size: 1em;
}

a {
	color: #2997AB;
	text-decoration: none
}

#container ul li {
	list-style: none
}

#container ol li {
	list-style: none
}

blockquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: 10px 0
}

.button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0 1px #FFFFFF inset;
	color: #555555;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 15px;
	font-size: 12px;
	display: inline-block;
	text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
	background-image: -moz-linear-gradient(top, #fafafa, #E0E0E0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa),
		to(#E0E0E0));
	background-image: -webkit-linear-gradient(top, #fafafa, #E0E0E0);
	background-image: -ms-linear-gradient(top, #fafafa, #E0E0E0);
	background-image: -o-linear-gradient(top, #fafafa, #E0E0E0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',
		endColorstr='#E0E0E0')
}

.button:hover {
	-webkit-box-shadow: 0 0 6px #cccccc;
	-moz-box-shadow: 0 0 6px #cccccc;
	box-shadow: 0 0 6px #cccccc;
}

.button_small {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0 1px #FFFFFF inset;
	color: #555555;
	font-weight: bold;
	text-decoration: none;
	padding: 1px 5px;
	font-size: 11px;
	display: inline-block;
	text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
	background-image: -moz-linear-gradient(top, #fafafa, #E0E0E0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa),
		to(#E0E0E0));
	background-image: -webkit-linear-gradient(top, #fafafa, #E0E0E0);
	background-image: -ms-linear-gradient(top, #fafafa, #E0E0E0);
	background-image: -o-linear-gradient(top, #fafafa, #E0E0E0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',
		endColorstr='#E0E0E0')
}

.button_small:hover {
	-webkit-box-shadow: 0 0 6px #cccccc;
	-moz-box-shadow: 0 0 6px #cccccc;
	box-shadow: 0 0 6px #cccccc;
}

.one, .one-half, .two-third, .one-third, .one-fourth, .one-fifth,
	.one-sixth, .inner-content, .one-third-big {
	float: left;
}

.one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth,
	.inner-content, .one-third-big {
	margin-right: 30px;
}

.one {
	width: 960px;
}

.one-half {
	width: 465px;
}

.two-third {
	width: 630px;
}

.one-third {
	width: 300px;
}

.inner-content {
	width: 712px;
}

.one-third-big {
	width: 340px;
}

.one-fourth {
	width: 217px;
}

.one-fifth {
	width: 168px;
}

.one-sixth {
	width: 135px;
}

.last {
	margin-right: 0px !important;
}

/*#prod_wrapper {border-bottom: 1px solid #e3e3e3; height: 501px; margin-bottom: 30px; padding: 10px 0 0}*/
#prod_nav {
	height: 156px;
	width: 960px;
	margin: -36px;
}

#prod_nav ul {
	width: 960px;
	margin: 0 auto;
}

#prod_nav li {
	float: left;
	width: 192px;
	list-style-type: none;
	text-align: center;
}

#prod_nav a {
	color: #333333;
	display: block;
	padding: 10px 0 45px;
	position: relative;
	word-spacing: -2px;
	font-size: 11px;
	height: 122px;
	text-decoration: none;
}

#prod_nav a.current {
	background: #f0f0f0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: none;
	margin: 0;
	border-bottom: 3px solid #000
}

#prod_nav img {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 3px 0 5px 10px;
	padding: 4px;
	display: block;
}

#prod_nav strong {
	display: block;
}